html {
    font-size: 16px;
}

body {
    background-color: rgb(20, 0, 53);
    background-image: url(../images/snow.gif);
    background-size: 45%;
    background-attachment: fixed;
}

main {
    color: #cc3333;
}

main h1,
main h2 {
    position: relative;
    text-align: center;
    font-family: "Emilys Candy", cursive;
    font-weight: 700;
    text-shadow: 0.25rem 0.25rem 0.25rem rgb(96, 96, 96);
}

main h1 {
    font-size: 6rem;    
    padding-top: 8rem;
}

main h2 {
    font-size: 2.5rem;
    padding-top: 1rem;
    padding-bottom: 6rem;

    left: 12rem;
}

main ul {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 10rem;

    font-size: 2rem;
    font-family: "Twinkle Star", cursive;
    font-weight: 500;
    text-shadow: 0.09375rem 0.09375rem 0.09375rem rgb(96, 96, 96);
}

main li {
    padding: 5rem 0 5rem 0;
}

#christmas {
    font-size: 3rem;
    font-weight: 600;
}

/* Mobile Styles */

@media only screen and (max-width: 938px) {
    main h2 {
        left: 0;
    }
}

@media only screen and (max-width: 666px) {
    html {
        font-size: 12px;
    }

    main ul {
        width: 90%;
    }
}